NEXT_PUBLIC_HASHNODE_GQL_ENDPOINT=https://gql.hashnode.com
NEXT_PUBLIC_HASHNODE_PUBLICATION_HOST=[your-host-name].hashnode.dev
NEXT_PUBLIC_MODE=development
NEXT_PUBLIC_SITE_URL=https://[your-host-name]
NEXT_PUBLIC_SITE_NAME=your-site-name
